.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control .form-control__input,
.form-control textarea {
  width: 100%;
  display: block;
}

.form-control__input {
  padding: 0.5rem;
  margin-top: 0.2rem;
  border: 1px solid rgb(107, 150, 78);
  font: inherit;
  border-radius: 2px;
}

.product-form__submit {
  padding: 0.5rem 1rem;
  border: 1px solid rgb(107, 150, 78);
  border-radius: 5px;
  background-color: #fff;
  color: rgb(107, 150, 78);
  cursor: pointer;
  font: inherit;
}
.product-form__submit:hover,
.product-form__submit:active {
  background-color: rgb(27, 75, 97);
  color: #fff;
}
